# 제어문

## if문
이하의 조건이 참이라면 문장을 실행, 그렇지 않다면 elif-else 이후의 문장을 실행

In [ ]:
today = str(input())

if birthday == '12/25':
    print('Christmas')
else:
    print('not christmas')

In [ ]:
score = int(input())

if score>=90:
    print('A')
    if score >= 95:
        print('참 잘했어요')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

In [ ]:
num = -5
value = num if num >= 0 else 0
print(value)

=====

In [20]:
num = -5
print(num if (num >= 0) else 0)

0

In [21]:
num = -5
if num >= 0:
    value = num
else:
    value = 0
print(value)

0

In [ ]:
num = 2
if num % 2 == 1:
    result = '홀수'
else:
    result = '짝수'
print(result)

In [22]:
num = 2
result = '홀수' if num % 2 == 1 else '짝수'

print(result)

짝수

## while문


```python
while <조건식>:
    실행할 코드
```

In [1]:
a = 0
while a < 5:
    print(a)
    a += 1

0
1
2
3
4

In [ ]:
# 사용자가 "안녕"이라고 할 때까지 계속 입력을 요청받는 코드

In [9]:
import time

In [10]:
greeting = ''

while greeting != '안녕':
    greeting = input('안녕이라고 해 줘:')

안녕이라고 해 줘: 안녕

In [11]:
hi = ''
while hi != '안녕':
    print('안녕이라고 해 줘')
    hi = input()

안녕이라고 해 줘

 d

안녕이라고 해 줘

 a

안녕이라고 해 줘

 sd

안녕이라고 해 줘

안녕이라고 해 줘

 f

안녕이라고 해 줘

안녕이라고 해 줘

 안녕

## for

for variable in sequence:
    code

In [16]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(n)

1
2
3
4
5

In [17]:
# for 문을 사용하여 사용자가 입력한 데이터를 한 글자씩 출력

In [35]:
data = input()

for alphabet in data:
    print(alphabet.upper())

 python

P
Y
T
H
O
N

In [36]:
for i in range(5):
    print(i)

0
1
2
3
4

In [38]:
for i in (1, 2, 3, 4, 5):
    print(i)

1
2
3
4
5

In [39]:
# 1부터 30까지 숫자 중 홀수만 담긴 리스트 출력

In [42]:
lt = []
for n in range(0, 31):
    if n % 2 == 1:
        lt.append(n)
        print(n)
    else:
        continue
        
print(lt)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [ ]:
# Enumerate : 순번 정보를 가진 튜플 형태의 sequence data로 변환해주는 함수

In [43]:
menus = ['돈까스', '치킨', '피자', '보쌈']

In [45]:
for menu in enumerate(menus):
    print(menu)

(0, '돈까스')
(1, '치킨')
(2, '피자')
(3, '보쌈')

In [49]:
for idx, menu in enumerate(menus):
    print(idx)
    print(menu)

0
돈까스
1
치킨
2
피자
3
보쌈

In [51]:
for menu in enumerate(menus):
    print(menu[0])
    print(menu[1])

0
돈까스
1
치킨
2
피자
3
보쌈

## dictionary roof

1. for key in dict:
2. for key in dict.keys():
3. for value in dict.values():
4. for key, value in dict.items()

In [53]:
info = {
    'name' : 'kdh',
    'location' : 'seoul',
    'mobile' : '010-3354-0745'
}

In [62]:
for i in info:
    print("{0} : {1}".format(i, info[i]))

name : kdh
location : seoul
mobile : 010-3354-0745

In [66]:
blood_type = {
    'A' : 5,
    'B' : 4,
    'O' : 2,
    'AB' : 3
}

In [69]:
for key in blood_type:
    print('bloodtype is :{}'.format(key))

bloodtype is :A
bloodtype is :B
bloodtype is :O
bloodtype is :AB

In [70]:
for key in blood_type.keys():
    print(key)

A
B
O
AB

In [72]:
for value in blood_type.values():
    print('the number of each blood type: {}'.format(value))

the number of each blood type: 5
the number of each blood type: 4
the number of each blood type: 2
the number of each blood type: 3

In [75]:
result = 0
for value in blood_type.values():
    result += value
print("총 인원 : {}명".format(result))

총 인원 : 14명

In [76]:
for key, value in blood_type.items():
    print(key, value)

A 5
B 4
O 2
AB 3

In [77]:
for key, value in blood_type.items():
    print('{} type is {}'.format(key, value))

A type is 5
B type is 4
O type is 2
AB type is 3

## break

반복문의 종료 키워드

In [81]:
for i in range(100):
    print(i)
    if i >= 10:
        print('over 10')
        break

0
1
2
3
4
5
6
7
8
9
10
over 10

In [83]:
rice = ['보리', '보리', '보리', '쌀', '보리', '보리']

for i in rice:
    print(i)
    if i == '쌀':
        print('잡았다')
        break

보리
보리
보리
쌀
잡았다

## continue

continue 이후의 코드를 실행하지 아니하고 다음 루프로 직행

In [86]:
for i in range(10):
    if i % 2 :
        continue
    else:
        print(i)

0
2
4
6
8

In [90]:
age = [10, 35, 20, 18, 9, 40]

for a in age:
    if a < 20:
        continue
    else:
        print(f'{a}세, 성인입니다')

35세, 성인입니다
20세, 성인입니다
40세, 성인입니다

## else:
else문은 반복문이 끝까지 실행된 후 실행

In [91]:
for i in range(10):
    if i > 5:
        break
    print(i)
else:
    print('break unseen')

0
1
2
3
4
5

In [103]:
numbers = [1, 3, 5, 7, 9]
print(3 in numbers)

True

In [99]:
for n in numbers:
    if n == 3:
        print(True)
        break
    else:
        continue

True

In [100]:
for n in numbers:
    if n == 2:
        print(True)
        break
else:
    print(False)

False

In [104]:
for n in numbers:
    if n !=3 :
        pass
    else:
        print(True)

True

In [105]:
target = 4

for number in numbers:
    if number == target:
        print(True)
        break
else:
    print(False)

False

## pass

코드 구조를 잡을 때 사용.

```python
if True:
    <= syntax error occurs
```

```python
if True:
    pass
``` <= profit!

## match statement

파이썬 3.10 이후 버전에서 추가됨.


```python
match value:
    case condition:
        code
    case condition:
        code
    case _:
        code
```

특정 조건에서 해당 값과 일치하는 값이 있다면 코드를 실행

In [106]:
status = 100

match status:
    case 400:
        print('bad request')
    case 404:
        print('not found')
    case _:
        print('something is wrong')

SyntaxError: invalid syntax (4189064375.py, line 3)

In [108]:
import sys
sys.version

'3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]'