# 01.intro

## 단축키

- ctrl+enter : 지금 셀 실행
- sft+enter : 현재 셀 실행하며 아래로 이동
- alt+enter : 현재 셀 실행하며 아래에 새로운 셀 추가

# 주의사항
1. Apple != apple
2. git add . != git add.

In [1]:
# 주석(ctrl+/)

# 1. 변수
변수 이름 = 값

- 변수명은 어떤 것이든 무관.
- 다만 영어/숫자/_를 이용하여 선언할 것.
- 키워드는 사용 불가.

In [2]:
a = 10

In [3]:
a

10

In [4]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [5]:
a = 10000000

In [6]:
type(a)

int

In [7]:
b = 1.1

In [8]:
type(b)

float

In [9]:
c = 1-4j

In [10]:
type(c)

complex

In [11]:
c.imag

-4.0

In [12]:
c.real

1.0

# 1.2 Boolean

T/F 로 이루어진 데이터타입

In [13]:
a = True

In [14]:
type(a)

bool

In [15]:
b = False
type(b)

bool

# 1.3 None

In [16]:
a = None
type(a)

NoneType

# 1.4 String

- 문자열
- ' 나 "

In [17]:
a = 'hello'
type(a)

str

In [18]:
age = input()
print(age)
print(type(age))

 26

26
<class 'str'>

In [19]:
print('hello? this is \'Kim\'')

hello? this is 'Kim'

In [20]:
a = '''
this is string sentence
can type several lines by using enter key
'''

In [21]:
print(a)

this is string sentence
can type several lines by using enter key

In [22]:
print('type enter \nnext line')

type enter
next line

In [23]:
print('one', 'two', 'three')

one two three

In [24]:
print('one', 'two', 'three', sep='!')

one!two!three

# string interpolation

1. %-formatting
2. str.format()
3. f-string

#1 
print('kim is %s years old' % age)

#2 
print('kim is {} years old'.format(age)

#3
print(f'kim is {age} years old')

In [46]:
print('one', 'two', 'three')

one two three

In [47]:
print('one', 'two', 'three', sep='!')

one!two!three

# 2. 연산자

## 2.1 산술연산자

# a를 b로 나눈 것
print(a//b)

# a를 b로 나누고 나머지 출력
print(a%b)

# a를 b로 나눈 몫과, 나머지 출력
print(divmod(a, b))

## 2.2 비교연산자

In [50]:
a = 5
b = 10

print(a>b)

False

## 2.3 논리연산자

- and
- or
- not

In [54]:
# and : 양쪽 모두 True일 때, True를 반환함

print(True and True)
print(False and True)

# or : 한쪽만 True여도 True를 반환함

print(True or False)

# not : 조건의 반대로 출력
print(not (True and True))

True
False
True
False

In [59]:
# 단축평가
print(3 and 5)
print(3 and 0)
print(0 and 5)
print(0 and 0)

5
0
0
0

## 2.4 복합연산자

In [72]:
a = 1

a = a+1
a += 1

## 2.5 기타연산자

In [74]:
a = 'hi'
b = 'hello'

In [75]:
# concatenation
a + b

'hihello'

In [76]:
a = [1, 2, 3]
b = [4, 5, 6]

a + b

[1, 2, 3, 4, 5, 6]

In [77]:
# containment
'a' in 'apple'

True

In [78]:
# identity
a = 1
b = 1
print(a is b)

True

In [80]:
a = 123123
b = 123123
print(a is b)
print(a == b)

False
True

In [81]:
print(id(a))
print(id(b))

1152166475408
1152166477616

## 우선순위

1. ()를 통해 그룹화된 것
2. **
3. 산술연산자(*, /)
4. 산술연산자(+, -)
5. 비교연산자, in, is
6. not
7. and
8. or

In [ ]:
-3**4

## 3. 형변환

### 3.1 암시적 형변환(자동 형변환)

In [84]:
a = True
b = 1

a + b
# a가 숫자 1로 자동 형변환됨

2

In [85]:
a = True
b = False
c = 1

print(a+c)
print(b+c)

2
1

In [86]:
int_num = 3
float_num = 3.3
complex_num = 1 + 3j

In [87]:
int_num + float_num + complex_num

(7.3+3j)

## 3.2 명시적 형변환

- int() : string, float를 int로 변환
- float() : string, int를 float로 변환
- str() : int, float 등을 string으로 변환

In [90]:
a = 1
b = '번'

In [91]:
print(str(a) + b)

1번

In [93]:
a = '3'
type(int(a))

int

In [97]:
a = '3.3'
type(float(a))

float

## 4. 시퀀스 자료형

데이터가 일정 순서대로 나열된 자료구조

### 4.1 List

- 선언 : 변수명 = [value1, value2, ... ]
- 접근 : 변수명[index]

In [100]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [102]:
location = ['Seoul', 'Daegu', 'Deajeon']
print(location)
print(location[0])

['Seoul', 'Daegu', 'Deajeon']
Seoul

### 4.2 Tuple
- 선언 : 변수명(value1, value2, value3, ... )
- 접근 : 변수명[index]
- 리스트와는 달리, 변수 내부 값 변환&할당은 불가. 한번 선언하면 불가변(immutable)

In [104]:
t = (1, 2, 3)
print(t)
print(type(t))
print(t[2])

(1, 2, 3)
<class 'tuple'>
3

### 4.3 range

- range(n) : 0부터 n-1까지 범위
- range(n, m) : n부터 m-1까지 범위
- range(n, m, s) n부터 m-1까지 +s만큼 증가하는 범위

### 4.4 string

### 4.5 시퀀스에서 활용 가능한 연산/함수

In [117]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_range = range(1, 100)
my_string = '12345'

In [115]:
print(my_list[1:3])
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

[2, 3]
(2, 3)
range(2, 4)
23

In [118]:
list(my_range[2:6:2])

[3, 5]

In [120]:
print(1 not in my_list)
print(1 not in my_tuple)
print(1 not in my_range)
print('1' not in my_string)

False
False
False
False

In [122]:
# concatenation

print(my_list + [1, 2, 3])

[1, 2, 3, 4, 5, 1, 2, 3]

In [124]:
# *
print([0] * 10)

print([[0]*10]*10)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [126]:
print(len(my_list))

5

In [127]:
print(min(my_list))

1

In [128]:
print(max(my_list))

5

In [129]:
my_list.count(1)

1

## 5. 시퀀스데이터가 아닌 자료구조

### 5.1 set

중복된 값이 없음. 수학에서 사용하는 집합.

- 선언 : 변수명 = {value1, value2, value3, ...}

In [131]:
myset_a = {1, 2, 3, 4, 5}
myset_b = {3, 4, 5, 6, 7}

In [133]:
print(myset_a - myset_b)
print(myset_a | myset_b)
print(myset_a & myset_b)

{1, 2}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}

### 5.2 dictionary

key와 value가 쌍으로 이루어져 있음.
key에는 immutable한 모든 것을 사용 가능(string, integer, etc)
value에는 모든 데이터 가능(list, dictionary, etc 포함)

- 선언 : 변수명 = {key1:value1, key2:value2, ... }
- 접근 : 변수명[key]

In [135]:
my_dict = {'Seoul' : '02', 'Gyeonggi':'031'}
my_dict['Seoul']

'02'

In [137]:
dict_a = {
    'name' : 'dohyeong',
    'location' : 'seoul1',
    'location' : 'seoul2'
}

In [138]:
print(dict_a)

{'name': 'dohyeong', 'location': 'seoul2'}

In [141]:
dict_a.keys()

dict_keys(['name', 'location'])

In [140]:
dict_a.values()

dict_values(['dohyeong', 'seoul2'])

# Data Type

1. Number
2. Boolean
3. String

# 자료구조
- Sequence 자료형

1. List : [Mutable]
2. Tuble : (Immutable)
3. Range : range(immutable)
4. String : 'Immutable'

- Non - Sequence : 자료형

1. Set : {mutable}
2. Dictionary : {mutable : mutable}